body {
  font-family: 'Raleway', sans-serif;
}




/* header section */
.logo{
    color: rgba(78, 71, 255, 1);
    font-size: 34px;
    margin: 0;
}
.sign{
    background-color: rgba(78, 71, 255, 1);
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    color: #ffffff;
    
    
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    padding: 50px 100px;
}
.cool{
    font-size: 64px;
    font-weight: 700;
    color: #252432;
}
.stay{
    font-size: 13px;
    color: #ffffff;
    background-color: rgba(78, 71, 255, 1);
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
}
.banner{
    text-align: center;
    padding-top: 100px;
}
.header-part{
    background-image: url(Assets/Hero-bg.png);
    margin-top: 0;
    padding-bottom: 150px;
}




/* main-section-1 */
.see{
    font-size: 42px;
    font-weight: 800;
    color: #252432;
    margin: 0;
}
.explore{
    font-size: 24px;
    color: #252432;
}
.launch{
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background-color: rgba(78, 71, 255, 1);
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
}
.mini{
    width: 403px;
    height: 328px;
    border-radius: 40px;
}
.section-1{
    display: flex;
    justify-content: space-between;
    margin: 150px 150px;
    align-items: center;
}



/* main-section-2 */
.joined{
    font-size: 38px;
    font-weight: 700;
    color: #252432;
}
.fifty{
    font-size: 80px;
    font-weight: 700;
    color: rgba(78, 71, 255, 1);
    margin: 0;
}
.active{
    font-size: 20px;
    color: #252432;
   
}
.text-controller-2{
    display: flex;
    justify-content: space-around;
    
}
.section-2{
    text-align: center;
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    background-color: antiquewhite;
    padding-top: 70px;
    border-radius: 20px;
}



/* main-section-3 */
.say{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}
.fa-solid{
    color: #FFB805;
    
}
.loved{
    color: #252432;
    margin-bottom: 0;
    
}
.template{
    font-size: 13px;
    color: #252432;
}
.reviewer{
    color: #252432;
    margin: 0;
    padding-bottom: 7px;
}
.text-controller-4{
    display: flex;
    gap: 5px;
    align-items: center;
}
.date-2{
    font-size: 12px;
    color: #252432;
    margin: 0;
}
.section-3{
    text-align: center;
    width: 1140px;
    height: 342px;
    margin: 0 auto;
}
.text-controlller-3{
    display: flex;
    justify-content: space-around;
}
.text-controller-5{
    text-align: left;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px antiquewhite;
    padding: 10px;
    margin-top: 30px;
}



/* main section 4 */
.section-4{
    width: 1140px;
    height: 695px;
    background-color: antiquewhite;
    margin: 0 auto;
}
.ready{
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0;
}
.instantly{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    
}
.big{
    width: 840px;
    height: 365px;
    border-radius: 30px;
}
.text-controller-6{
    text-align: center;
    padding: 50px 0;
}
.free{
    margin-bottom: 20px;
}



body button:hover{
    background-color: brown;
    padding: 12px 20px;
}




/* main section 5 */
.section-5{
    width: 1140px;
    height: 632px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 200px;
}
.touch{
    font-size: 97px;
    font-weight: 700;
    color: #000000;
}
.label{
    font-size: 15px;
    font-weight: 600;
    color: #000000;
   
}
.input{
    background-color: whitesmoke;
    border: none;
    padding: 20px 80px;
}
.rounded{
    border-radius: 8px;
}
.last-btn{
    padding-left: 124px;
    padding-right: 124px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.last-btn:hover{
    background-color: brown;
    padding: 13px 130px 13px 130px;
}
