body {
  font-family: 'Raleway', sans-serif;
}




/* header section */
.logo{
    color: rgba(78, 71, 255, 1);
    font-size: 34px;
    margin: 0;
}
.sign{
    background-color: rgba(78, 71, 255, 1);
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    color: #ffffff;
    
    
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    padding: 50px 100px;
}
.cool{
    font-size: 64px;
    font-weight: 700;
    color: #252432;
}
.stay{
    font-size: 13px;
    color: #ffffff;
    background-color: rgba(78, 71, 255, 1);
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
}
.banner{
    text-align: center;
    padding-top: 100px;
}
.header-part{
    background-image: url(Assets/Hero-bg.png);
    margin-top: 0;
    padding-bottom: 150px;
}




/* main-section-1 */
.see{
    font-size: 42px;
    font-weight: 800;
    color: #252432;
    margin: 0;
}
.explore{
    font-size: 24px;
    color: #252432;
}
.launch{
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    background-color: rgba(78, 71, 255, 1);
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
}
.mini{
    width: 403px;
    height: 328px;
    border-radius: 40px;
}
.section-1{
    display: flex;
    justify-content: space-between;
    margin: 150px 150px;
    align-items: center;
}



/* main-section-2 */
.joined{
    font-size: 38px;
    font-weight: 700;
    color: #252432;
}
.fifty{
    font-size: 80px;
    font-weight: 700;
    color: rgba(78, 71, 255, 1);
    margin: 0;
}
.active{
    font-size: 20px;
    color: #252432;
   
}
.text-controller-2{
    display: flex;
    justify-content: space-around;
    
}
.section-2{
    text-align: center;
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    background-color: antiquewhite;
    padding-top: 70px;
    border-radius: 20px;
}